header
  nav(class="navbar")
    h1(class="brand-name") Friendly Local Gaming Store
    h1(class="abbreviated-name") FLGS
    a(href="#", class="toggle-button")
      span(class="bar")
      span(class="bar")
      span(class="bar")
    div(class="links")
      ul
        li
          a(href="/") Categories
        li
          a(href="/product/index") Products
        li
          a(href="/category/add") Add Category 
        li
          a(href="/product/add") Add Product
  
script
  include ../../public/javascript/menu.js

